.navbar-brand img {
  width: 250px;
  height: 60px;

  background-color: white;
}

.about {
  list-style: none;
}

.about-item {
  padding-left: 1rem;
}

.fa-solid {
  color: #000;
}

.bi {
  transform: translateX(27px);

  background-color: white;
}