.navbar-brand img {
    height: 60px;
    width: 250px;
    background-color: white;
}

.about {
    list-style: none;
}

.about-item {
    background-image: url(/assets/img/icons/motorcycle-solid.svg);
    background-repeat: no-repeat;
    background-size: 1.2em 1.2em;
    background-position: 0 0;
    padding-left: 1.5rem;
}

.bi {
    background-color: white;
    transform: translateX(36px);
}

.form-control {
    outline: none;
}